.tab-button:hover {
  text-transform: uppercase;
}

/* CSS for home page */
.tabs {
  position: absolute;
  top: 5vh;
  left: 2vw;
  display: flex;
  justify-content: space-between;
  font-family:monospace;
  text-align: center;
}

.links {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
  align-self: center;
}

.email-link {
  color: peachpuff;
  text-decoration: none;
}

.email-link:hover {
  font-weight: bold;
  text-decoration-line: underline;
}

.profile-pic {
  max-width: 20%;
  max-height: 20%;
  height: auto;
  width: auto;
}

.github-logo {
  height: 50px;
  max-width: 50px;
}

.github-logo:hover {
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 25px;
}

.linkedin-logo {
  height: 50px;
  max-width: 50px;
}

.linkedin-logo:hover {
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 10px;
}

.resume-logo {
  height: 50px;
  max-width: 50px;
}

.resume-logo:hover {
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 12px;
}

.home-content {
  position: absolute;
  top: 30vh;
  left: 5vw;
  right: 5vw;
  display: flex;
  flex-direction: column;
}

.picture-wrapper {
  display: flex;
  justify-content: space-between;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
}

.home-header {
  color: white;
  font-size: 4vw;
  font-family: fantasy;
}

.home-body {
  color: whitesmoke;
  font-size: 1.5vw;
  font-family: fantasy;
}

.particles-home {
  z-index: -1;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
}

/* CSS for about page */
.course-websites {
  color:peachpuff;
  text-decoration: none;
}

.course-websites:hover {
  font-weight: bold;
  text-decoration-line: underline;
}

.about-content {
  position: absolute;
  top: 12vh;
  left: 5vw;
  right: 5vw;
  display: flex;
  justify-content: space-between;
}

.particles-about {
  z-index: -1;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hobby-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
}

.technical-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
}

.courses-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
}

.courses-content {
  color: whitesmoke;
  font-size: 1.3vw;
  font-family: fantasy;
}

.course-list {
  list-style-type: circle;
}

.courses {
  flex: 1;
}

.skill-hobby-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.technical-content {
  color: whitesmoke;
  font-size: 1.3vw;
  font-family: fantasy;
  /* padding-bottom: 2px; */
}

.technical-highlight {
  font-weight: bold;
  font-style: italic;
}

.hobby-content {
  color: whitesmoke;
  font-size: 1.3vw;
  font-family: fantasy;
}



/* CSS for projects page */
.project-content {
  position: absolute;
  top: 8vh;
  left: 5vw;
  right: 5vw;
  display: flex;
  flex-direction: column;
}

.particles-project {
  z-index: -1;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
}

.project-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
}

.project-filters {
  position: absolute;
  top: 10vh;
  right: 10vw;
  color: whitesmoke;
  font-size: 1.8vw;
  font-family: fantasy;
  display: flex;

}

.projects {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.project-name {
  color: whitesmoke;
  font-size: 1.5vw;
  font-family: fantasy;
  font-weight: bold;
}

.project-date {
  color: whitesmoke;
  font-size: 1.2vw;
  font-family: fantasy;
  font-style: italic;
}

.project-info {
  color: whitesmoke;
  font-size: 1.2vw;
  font-family: fantasy;
}

.project-language {
  color: whitesmoke;
  font-size: 1.2vw;
  font-family: fantasy;
  font-weight: bold;
}