.tabs {
  position: absolute;
  top: 5vh;
  left: 2vw;
  display: flex;
  justify-content: space-between;
  font-family:monospace;
  text-align: center;
}

.links {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
  align-self: center;
}

.email-link {
  color: burlywood;
}

.main {
  background-color: black;
}

.profile-pic {
  max-width: 20%;
  max-height: 20%;
  height: auto;
  width: auto;
}

.github-logo {
  height: 50px;
  max-width: 50px;
}

.linkedin-logo {
  height: 50px;
  max-width: 50px;
}

.resume-logo {
  height: 50px;
  max-width: 50px;
}

.home-content {
  position: absolute;
  top: 30vh;
  left: 5vw;
  right: 5vw;
  display: flex;
  flex-direction: column;
}

.about-content {
  position: absolute;
  top: 12vh;
  left: 5vw;
  right: 5vw;
  display: flex;

}

.project-content {
  position: absolute;
  top: 30vh;
  left: 5vw;
  right: 5vw;
  display: flex;
  flex-direction: column;
}

.picture-wrapper {
  display: flex;
  justify-content: space-between;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
}

.home-header {
  color: white;
  font-size: 4vw;
  font-family: fantasy;
}

.home-body {
  color: whitesmoke;
  font-size: 1.5vw;
  font-family: fantasy;
}

.particles-home {
  z-index: -1;
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hobby-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
}

.technical-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
}

.courses-header {
  color: white;
  font-size: 2.5vw;
  font-family: fantasy;
  font-weight: bolder;
}

.courses-content {
  color: whitesmoke;
  font-size: 1.3vw;
  font-family: fantasy;
}

.course-list {
  list-style-type: circle;
}

.skill-hobby-wrapper {
  display: flex;
  flex-direction: column;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App {
  background-color: #071736;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
